@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
}

.container{
  min-height: 100vh;
  display: flex;


}

.card{
  position: relative;
  background: rgb(27, 27, 27);
  max-width: 112px;
  width: 112px;
  height: 112px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.card-image{
  max-height: 150px;
  overflow: hidden;
}
body.dark-mode .wallet-card .balance .title {
  color: #fff;
}
.card-image img{
  max-width: 100%;
  height: auto;
  visibility: hidden;
}
.card-alig card{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wallet-card {
  background: #2c2c2c;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 20px 24px;
  position: relative;
  width: 550px;
  z-index: 1;
}

.wallet-card .balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 100px;
}


.loading{
  position: relative;
  background: #242424;
  overflow: hidden;
}

.loading:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

@keyframes loading{
  100%{
    transform: translateX(100%);
  }
}
      